@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
*{
	margin:0;
	padding:0;
	box-sizing: border-box;
}
:root {
    --main-color: #163020;
    --second-color-a: #304D30;
    --second-color-b: #EEE7DA;
    --second-color-c: #EE7214;
    --text-color-a: #004225;
    --text-color-b: #435334;
}

body{
	font-family: 'Poppins', sans-serif;

}

body::-webkit-scrollbar {
    display: none;
  }


/* Nav-bar */



/* End of Nav-bar */




/* content */

    .timeline {
      display: flex;
      margin: 0 auto;
      flex-wrap: wrap;
      flex-direction: column;
      max-width: 1250px;
      position: relative;
    }

    .timeline__content-title {
      font-weight: normal;
      font-size: 66px;
      margin: -10px 0 0 0;
      transition: 0.4s;
      padding: 0 10px;
      box-sizing: border-box;
      font-family: 'Oswald', sans-serif;
      color: var(--second-color-c);
    }

    .timeline__content-title-2{
        font-weight: 600;
        margin: -10px 0 0 0;
        padding-bottom: 5px;
        font-size: 25px;
        box-sizing: border-box;
        color: white;
        font-family: 'Roboto Condensed', sans-serif;
        font-weight: normal;
        line-height: 25px;
    }

    .timeline__content-desc {
      margin: 0;
      font-size: 15px;
      box-sizing: border-box;
      color: var(--second-color-b);
      font-family: 'Roboto Condensed', sans-serif;
      font-weight: normal;
      line-height: 25px;
    }

    .timeline:before {
      position: absolute;
      left: 50%;
      width: 2px;
      height: 100%;
      margin-left: -1px;
      content: "";
      background: rgba(255, 255, 255, .07);
    }

    @media only screen and (max-width: 767px) {

      .timeline:before {
        left: 40px;
      }
    }

    .timeline-item {
      padding: 40px 0;
      opacity: 0.3;
      filter: blur(2px);
      transition: 0.5s;
      box-sizing: border-box;
      width: calc(50% - 40px);
      display: flex;
      position: relative;
      transform: translateY(-80px);
    }

    .timeline-item:before {
      content: attr(data-text);
      letter-spacing: 3px;
      width: 100%;
      position: absolute;
      color: rgba(255, 255, 255, .5);
      font-size: 13px;
      font-family: 'Pathway Gothic One', sans-serif;
      border-left: 2px solid rgba(255, 255, 255, .5);
      top: 70%;
      margin-top: -5px;
      padding-left: 15px;
      opacity: 0;
      right: calc(-100% - 56px);
    }

    .timeline-item:nth-child(even) {
      align-self: flex-end;
    }

    .timeline-item:nth-child(even):before {
      right: auto;
      text-align: right;
      left: calc(-100% - 56px);
      padding-left: 0;
      border-left: none;
      border-right: 2px solid rgba(255, 255, 255, .5);
      padding-right: 15px;
    }

    .timeline-item--active {
      opacity: 1;
      transform: translateY(0);
      filter: blur(0px);
    }

    .timeline-item--active:before {
      top: 50%;
      transition: 0.3s all 0.2s;
      opacity: 1;
    }

    .timeline-item--active .timeline__content-title {
      margin: -50px 0 20px 0;
    }

    @media only screen and (max-width: 767px) {
      .timeline-item {
        align-self: baseline !important;
        width: 100%;
        padding: 0 30px 150px 80px;
      }

      .timeline-item:before {
        left: 10px !important;
        padding: 0 !important;
        top: 50px;
        text-align: center !important;
        width: 60px;
        border: none !important;
      }

      .timeline-item:last-child {
        padding-bottom: 40px;
      }
    }

    .timeline__img {
        padding: .3rem .3rem;
      max-width: 100%;
      border: 1px var(--main-color);
      background-color: var(--second-color-b);
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }

    .timeline-container {
      width: 100%;
      position: relative;
      padding: 80px 0;
      transition: 0.3s ease 0s;
      background-attachment: fixed;
      background-size: cover;
    }

    .timeline-container:before {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background: rgba(0, 0, 0, 0.6);
      content: "";
    }

    .title-photots {
        margin: auto;
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        height: auto;
        flex-direction: row;
        justify-content: space-evenly;
    }
    .title-photots img {
        width: 35%;
        padding: 1rem 1rem;
        margin-bottom: 1rem;
        border: 1px var(--main-color);
        border-radius: 1%;
        background-color: var(--second-color-b);
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }
    
    .timeline-head {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        position: relative;
        width: 100%;
        height: auto;
        margin: auto;
        text-align: center;
    }

    .timeline-header {
      padding-top: 1rem;
      padding-bottom: 6rem;
      top: -5rem;
      margin: auto;
      width: 100%;
      height: auto;
      text-align: center;
      margin-bottom: 80px;
      position: relative;
      background: whitesmoke;
    }
    
    .timeline-definition {
        width: 100%;
        margin: 0;
        text-align: justify;
        color: var(--main-color);
        padding: 2rem;
    }

    .timeline-header__title {
      color: var(--main-color);
      font-size: 3rem;
      font-family: 'Oswald', sans-serif;
      font-weight: 600;
      margin: auto;
      padding-top: 2rem;
    }

    .timeline-header__subtitle {
      padding-top: 4rem;
      color: var(--second-color-a);
      font-family: 'Pathway Gothic One', sans-serif;
      font-size: 16px;
      letter-spacing: 5px;
      margin: 10px 0 0 0;
      font-weight: normal;
    }

    .demo-footer {
      padding: 60px 0;
      text-align: center;
    }

    .demo-footer a {
      color: #999;
      display: inline-block;
      font-family: Cardo;
    }

/* end of banner */

/* Footer */

footer {
    background-color: var(--main-color);
    color: #fff;
    text-align: center;
    padding: 1rem;
    bottom: 0;
    width: 100%;
  }

  /* Home Section */   
  .home-banner {
    top: 4rem;
    position: relative;
    width: 100%;
    height: auto;
    background: #ff0000;
  }



  /* End of Home */